# Section-1: Introduction to python
## Datapool Day-02

In [1]:
x=5 
y=3.14
name="Data Analytics"
print(x,y,name)

5 3.14 Data Analytics

In [2]:
fruits=["Apple","Banana","Cherry"]
print(fruits)

['Apple', 'Banana', 'Cherry']

In [5]:
a=int(int("Ã‹nter age:"))
if a>=18:
    print("You are adult")
else :
    print("You are minor")

You are adult

In [12]:
squares= [x**2 for x in range(10)]
print(f"Squares of number 0-9:{squares}")

Squares of number 0-9:[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [10]:
import pandas as pd
import numpy as np

In [13]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("Walmart.csv")
print("DataFrame loaded from CSV file:")
print(df.head())

DataFrame loaded from CSV file:
   Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0      1  05-02-2010    1643690.90             0        42.31       2.572
1      1  12-02-2010    1641957.44             1        38.51       2.548
2      1  19-02-2010    1611968.17             0        39.93       2.514
3      1  26-02-2010    1409727.59             0        46.63       2.561
4      1  05-03-2010    1554806.68             0        46.50       2.625

          CPI  Unemployment
0  211.096358         8.106
1  211.242170         8.106
2  211.289143         8.106
3  211.319643         8.106
4  211.350143         8.106

In [19]:
print("\nSummary of the DataFrame:")
print(df.info())

Summary of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB
None

In [20]:
print("\nSelecting rows where index is 0 to 4 using .loc")
print(df.loc[3452:4012])

Selecting rows where index is 0 to 4 using .loc
      Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
3452     25  25-06-2010     737569.14             0        72.17       2.808
3453     25  02-07-2010     759407.87             0        66.42       2.815
3454     25  09-07-2010     719591.13             0        75.24       2.793
3455     25  16-07-2010     726997.84             0        73.43       2.783
3456     25  23-07-2010     665290.93             0        75.37       2.771
...     ...         ...           ...           ...          ...         ...
4008     29  05-03-2010     535087.91             0        36.82       2.766
4009     29  12-03-2010     519042.49             0        43.43       2.805
4010     29  19-03-2010     496851.60             0        46.03       2.834
4011     29  26-03-2010     552985.34             0        48.56       2.831
4012     29  02-04-2010     599629.25             0        44.96       2.826

             CPI  Unemployment
3452  204.567546         7.856
3453  204.465056         7.527
3454  204.362566         7.527
3455  204.357166         7.527
3456  204.481219         7.527
...          ...           ...
4008  131.735000        10.064
4009  131.784000        10.064
4010  131.824290        10.064
4011  131.863129        10.064
4012  131.901968        10.160

[561 rows x 8 columns]

In [25]:
print("\nSelecting rows by position(first two rows) using i.loc")
print(df.iloc[0::2])

Selecting rows by position(first two rows) using i.loc
      Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1  05-02-2010    1643690.90             0        42.31       2.572
2         1  19-02-2010    1611968.17             0        39.93       2.514
4         1  05-03-2010    1554806.68             0        46.50       2.625
6         1  19-03-2010    1472515.79             0        54.58       2.720
8         1  02-04-2010    1594968.28             0        62.27       2.719
...     ...         ...           ...           ...          ...         ...
6426     45  31-08-2012     734297.87             0        75.09       3.867
6428     45  14-09-2012     702238.27             0        67.87       3.948
6430     45  28-09-2012     713173.95             0        64.88       3.997
6432     45  12-10-2012     734464.36             0        54.47       4.000
6434     45  26-10-2012     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
2     211.289143         8.106
4     211.350143         8.106
6     211.215635         8.106
8     210.820450         7.808
...          ...           ...
6426  191.461281         8.684
6428  191.699850         8.684
6430  192.013558         8.684
6432  192.327265         8.667
6434  192.308899         8.667

[3218 rows x 8 columns]

In [26]:
print("\nFiltering rows where Weekly_Sales>100000:")
print(df[df['Weekly_Sales']>100000])

Filtering rows where Weekly_Sales>100000:
      Store        Date  Weekly_Sales  Holiday_Flag  Temperature  Fuel_Price  \
0         1  05-02-2010    1643690.90             0        42.31       2.572
1         1  12-02-2010    1641957.44             1        38.51       2.548
2         1  19-02-2010    1611968.17             0        39.93       2.514
3         1  26-02-2010    1409727.59             0        46.63       2.561
4         1  05-03-2010    1554806.68             0        46.50       2.625
...     ...         ...           ...           ...          ...         ...
6430     45  28-09-2012     713173.95             0        64.88       3.997
6431     45  05-10-2012     733455.07             0        64.89       3.985
6432     45  12-10-2012     734464.36             0        54.47       4.000
6433     45  19-10-2012     718125.53             0        56.47       3.969
6434     45  26-10-2012     760281.43             0        58.85       3.882

             CPI  Unemployment
0     211.096358         8.106
1     211.242170         8.106
2     211.289143         8.106
3     211.319643         8.106
4     211.350143         8.106
...          ...           ...
6430  192.013558         8.684
6431  192.170412         8.667
6432  192.327265         8.667
6433  192.330854         8.667
6434  192.308899         8.667

[6435 rows x 8 columns]

In [12]:
import plotly.graph_objects as go